.conteiner {
    padding-top: 56px;
    width: 2010px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.conteiner-category {
    padding-top: 56px;
    width: 2010px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.conteiner-header {
    padding-top: 40px;
    width: 95%;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.conteiner-main {
    padding-top: 122px;
    width: 2010px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.conteiner-footer {
    padding-top: 86px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
}

@media (min-width: 768px) {
    .conteinner {
        padding-left: 0px;
        padding-right: 0px;
    }
    .conteinner-header {
        padding-left: 0px;
        padding-right: 0px;
    }
    .conteinner-main {
        padding-left: 0px;
        padding-right: 0px;
    }
    .conteinner-footer {
        padding-left: 0px;
        padding-right: 0px;
    }
}