.category {
    display: flex;
    height: 40px;
    flex-flow: row nowrap;
    align-items: center;
    padding: 30px;
    border-radius: 53px;
    width: 50%;
    background-color: #FFAB00; 
}


.categoryURL {
   font-family: Inter;
   font-size: 25px;
   line-height: normal;
   text-decoration: none;
   color: #000;
}