.header {
    height: 100px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    background-color: #FFAB00;
    position: relative;
    padding: 0 72px;
    border-radius: 57px;
}

.header-brand {
    text-decoration: none;
    font-weight: 400;
    font-family: Lobster;
    font-size: 50px;
    line-height: normal;
    text-decoration: none;
    margin-right: 72px;
    color: #000;
}

.header-menu-item1 img {
    width: 120px;
    height: 100px;
}

.header-menu-cart img {
    width: 60px;
    height: 55px;
    margin-left: 72px;
}

/* Применяем стили к родительскому элементу (например, к <body> или <div>) */
.input-container {
	display: flex;
	justify-content: center; /* Выравнивание по горизонтали */
	align-items: center; /* Выравнивание по вертикали */
	
  }
  
  /* Стили для .search-box */
  .search-box {
	margin-top: 1.5%;
	padding: 20px;
	border-radius: 100px;
	border: 1px solid #ffffff;
	outline: none;
	width: 1212px;
	height: 105px;
	box-sizing: border-box;
	background-color: #FDD994;
	font-size: 50px;
  }
  
  .search-box::placeholder {
	font-size: 50px;
	color: #888;
  }