.main {
    display: grid;
    grid-template-columns: 706px 471px;
    grid-gap: 35px;
}

.slider {
    width: 600px;
    height: 600px;
    margin-left: 110px;
    margin-top: 180px;
    overflow: hidden;
    border: 10px solid #FFAB00;
    border-radius: 60px;
 }
 
 .middle {
    transform: translate(0, 0);
 }

.service {
    color: #000;
    text-align: center;
    font-family: "Saira Stencil One";
    font-size: 41px;
    margin-top: 150px;
    font-style: normal;
    white-space: nowrap;
    font-weight: 400;
    line-height: normal;
}

.grid-grid {
   margin-top: 25px;
}

.list-service {
    display: grid;
    grid-template-columns: 58px 165px 184px;
    grid-gap: 29px;
}

.service-service {
    color: #000;
    text-align: center;
    font-family: "Saira Stencil One";
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.btn_grid {
    margin: auto 0;
    height: 35px;
    border-radius: 105px;
    background: #FFAB00;
    color: #000;
    text-align: center;
    font-family: "Saira Stencil One";
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    transition: all 200ms ease-in-out;
}

.btn_grid:hover{
   background-color: #cf8a00;
	cursor: pointer;
}

.main-shop {
    margin-top: 91.5px;
    display: grid;
    grid-template-columns: 74px 368px;
    grid-gap: 18px;
}

.service-main-service {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #000;
    text-align: center;
    font-family: Alice;
    font-size: 34px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.btn_main {
    margin-top: 21.75px;
    width: 464px;
    height: 90px;
    margin-bottom: 150px;
    border-radius: 105px;
    background: #FFAB00;
    color: #000;
    text-align: center;
    font-family: "Saira Stencil One";
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    transition: all 200ms ease-in-out;
}

.btn_main:hover {
   background-color: #cf8a00;
	cursor: pointer;
}