.container {
    padding-top: 5%;
    width: 100%;
    max-width: 100%;
    align-items: top;
    justify-content: top;
}

.container-header {
    position: sticky;
    top: 0;
    z-index: 50;
    padding-top: 1%;
    height: 10%;
    width: 95%;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
}

.container-search {
    padding-top: 2%;
    width: 95%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}


.container-main {
    padding-top: 2%;
    width: 40%;
    max-width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.container-footer {
    position: absolute;
    align-items: bottom;
    bottom: 0;
    right: 0;
    left: 0;
}

@media (min-width: 5%) {
    .conteinner {
        padding-left: 0px;
        padding-right: 0px;
    }
    .conteinner-header {
        padding-left: 0px;
        padding-right: 0px;
    }
    .conteinner-main {
        padding-left: 0px;
        padding-right: 0px;
    }
    .conteinner-footer {
        padding-left: 0px;
        padding-right: 0px;
    }
}