.product-wrapper {
	display: block;
	width: 100%;
	float: left;
	transition: width .2s;
}

@media only screen and (min-width: 450px) {
	.product-wrapper {
		width: 50%;
	}
}

@media only screen and (min-width: 768px) {
	.product-wrapper {
		width: 33.333%;
	}
}

@media only screen and (min-width: 1000px) {
	.product-wrapper {
		width: 25%;
	}
}

.product {
	display: block;
	border: 1px solid #fadead;
	border-radius: 3px;
	position: relative;
	background: #fff;
	margin: 0 20px 20px 0;
	text-decoration: none;
	color: #474747;
	z-index: 0;
	height: 20vh;
	box-shadow: 0 0 5px #eccf2a;
 	-moz-box-shadow: 0 0 5px #eccf2a;
 	-ms-box-shadow: 0 0 5px #eccf2a;
 	-o-box-shadow: 0 0 5px #eccf2a;
 	-webkit-box-shadow: 0 0 5pxrgb(170, 154, 62)F;
}

.product:hover {
	box-shadow: 0 0 12px #eccf2a;
	-moz-box-shadow: 0 0 12px #eccf2a;
	-o-box-shadow: 0 0 12px #eccf2a;
	-ms-box-shadow: 0 0 12px #eccf2a;
	-webkit-box-shadow: 0 0 12px #eccf2a;
   }

.products {
	list-style: none;
	margin: 0 -20px 0 0;
	padding: 0;
}

.product-photo {
	position: relative;
    padding: 10px;
    top: 10px;
    height: 60%;
	padding-bottom: 50%;
	overflow: hidden;
}

.product-photo img {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	max-width: 80%;
	max-height: 100%;
	margin: auto;
	transition: transform .4s ease-out;
}

.product:hover .product-photo img {
	transform: scale(1.04);
}

.product-buttons-wrap {
    position: absolute;
    bottom: 0%;
    height: 15%;
    width: 100%;
}

.buttons {
    position: absolute; 
    bottom: 10px;
    right: 5px;
    left: 5px;
	top: -10px;
    font-size: 20px;
	background: #FFAB00;
    border-radius: 30px;
	transition: background-color 0.3s;
}

.buttons:hover {
	background-color: #cf8a00;
	cursor: pointer;
}

@media (max-width: 1272px)
{
	.buttons {
		font-size: 17px;
	}
}

@media (max-width: 1135px)
{
	.buttons {
		font-size: 12px;
	}
	.main-header {
		width: 75%;
	}
}

@media (max-width: 600px)
{
	.buttons {
		font-size: 7px;
	}
}