<head th:fragment="headFragment">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fineprice</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" rel="stylesheet">
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
    <link rel="stylesheet" th:href="@{/css/parts/_all.css}">
</head>


<th:block th:fragment="headerFragment">
    <script defer th:src="@{/js/open-category.js}"></script>
    <script defer th:src="@{/js/open-basket.js}"></script>

    <div class="container-header">
        <header class="header">
            <a>
            </a>

            <ul class="main-header">
                <a class="header-promotion" id="open-category-popup-btn">
                    Каталог
                </a>

                <a th:href="@{/}" class="header-logo">
                    <img th:src="@{/images/logo.svg}" alt="Логотип">
                </a>

                <a href="/CategoriesPage/Categories.html" class="header-promotion">
                    <span>Акция</span>
                </a>
            </ul>

            <a class="header-cart" id="open-basket-popup-btn">
                <img th:src="@{/images/cart_fill.svg}" alt="Корзина">
            </a>
        </header>
    </div>

    <div class="category-popup" id="category-popup-id">
        <div class="category-box">
            <div class="category-list">
                <div th:each = "category : ${categories}">
                    <div class="category-elem">
                        <a class="category-li" th:id="${'Category' + category.id}" th:href="${'/category/' + category.id}" th:text="${category.name}"></a>
                    </div>
                </div>
            </div>
            <div class="subcategory-list" id="subcategory-list">
                <div th:each="category : ${categories}" th:class="${'Category' + category.id + ' subcategory-elem'}">
                    <div class="subcategory-elem-1" th:each = "subCategory : ${category.children}">
                        <a th:href="${'/category/' + subCategory.id}" th:text="${subCategory.name}"></a>
                    </div>
                </div>
            </div>
            <button class="category-popup-close-btn" id="close-category-popup-id"></button>
        </div>
    </div>
    <div class="basket-popup-hidden-box" id="basket-popup-hidden-box-id">
        <div class="basket-popup" id="basket-popup-id">
            <div class="basket-box">
                <th:block th:each="one_cart : ${cart}">
                    <th:block th:unless="${#lists.isEmpty(one_cart.products)}">
                        <div class="basket-box-title" th:text="${one_cart.name}"></div>
                        <ul class="basket-wrapper">
                            <li class="basket-product" th:each="item : ${one_cart.products}">
                                <div class="basket-product-photo">
                                    <img th:src="${item.image_url}" alt="">
                                </div>
                                <div class="basket-info-wrapper">
                                    <div class="basket-info" th:text="${item.product_name}"></div>
                                    <div class="basket-button-wrapper">
                                        <div class="basket-wrapper-btn">
                                            <button class="basket-buttons">
                                                +
                                            </button>
                                            <div class="product-counter" th:text="${item.count}">

                                            </div>
                                            <button class="basket-buttons">
                                                -
                                            </button>
                                        </div>
                                        <div class="basket-price" th:text="${'Цена ' + item.cost.price}"></div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <div class="price" th:text="${'Итого: ' + one_cart.total}"></div>
                    </th:block>
                </th:block>
            </div>

            <button class="basket-popup-close-btn" id="close-basket-popup-id"></button>
        </div>
    </div>
    <div class="container-search">
        <div class="search-form">
            <input class="search-form___txt", type="text" placeholder="Поиск...">
            <button class="search-form___btn">
                <img class="search-form___image" th:src="@{/images/search.svg}"></button>
            </button>
        </div>
    </div>
</th:block>

<th:block th:fragment="productsFragment">
    <div class="container-main">
        <ul class="container-product-list">
            <li class="product-wrapper" th:each="product : ${products}">
                <a th:href="${'/products/' + product.id}" class="product">
                    <div class="product-photo">
                        <img th:src="${product.image_url}" alt="">
                    </div>
                    <div class="product-buttons-wrap">
                        <button class="buttons">Перейти</button>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</th:block>

<th:block th:fragment="oneProductFragment">
    <div class="conteiner-main-product">
        <main class="main">
            <div class="slider middle">
                <div class="slides">
                    <div class="slide s1">
                        <img th:src="${product.image_url}" alt="Изображение" class="img">
                    </div>
                </div>
            </div>

            <div class="second-colum">
                <h6 class="service" th:text="${product.name}"></h6>
                <th:block th:each="ShopCost : ${product.priceList}">
                    <div class="grid-grid">
                        <div class="list-service">
                            <span class="service-service" th:text="${ShopCost.rus_name}"></span>
                            <a th:href="${'/add-to-cart/' + product.id + '/' + ShopCost.en_name}"><button class="btn_grid" th:text="${ShopCost.price}"></button></a>
                        </div>
                    </div>
                </th:block>
                <div class="main-shop">
                    <span class="service-main-service" th:text="${product.best_cost.rus_name}"></span>
                </div>
                <a th:href="${'/add-to-cart/' + product.id + '/' + product.best_cost.en_name}"><button class="btn_main" th:text="${product.best_cost.price}"></button></a>
            </div>
        </main>
    </div>
</th:block>

<th:block th:fragment="footerFragment">
    <div class="container-footer">
        <footer class="footer">
            <a href="/help" class="footer-helpus"><span>Помощь</span></a>
            <a href="/help" class="footer-helpus"><span>О нас</span></a>
        </footer>
    </div>
</th:block>

<th:block th:fragment="category_nameFragment">
    <div class="category-name">
        <h6 th:text="${category_name}"></h6>
    </div>
</th:block>