<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title><!DOCTYPE html>
        <html lang="ru">

        <head>
        <meta charset="utf-8" />
        <title>Fineprice</title>
    <link rel="stylesheet" th:href="@{css/styleMain.css}">
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">


</head>

<body>
<div id = "main">
    <div id = "main-container">
        <header id = "main-header">
            <div id = "main-header-menu">
                <img class="head_bg_img1" src="images/Rectangle 3.png">
                <img class="head_bg_img2" src="images/Rectangle 3.png">
                <img class="head_bg_img3" src="images/Rectangle 5(1).png">

                <a href="/promotion" class="menu-item1">Акции</a>
                <a href="/" class="menu-item2">
                    <img th:src="@{images/logo.svg}" alt="">
                </a>
                <a href="/cart_page" class="menu-item3">
                    <img th:src="@{images/cart.png}" alt="">
                </a>

            </div>



        </header>

    </div>
    <div class="slider">
        <div class="slides">
            <div class="slide">
                <img src="images/2.png" alt="Слайд 1">
            </div>
            <div class="slide">
                <img src="images/2.png" alt="Слайд 2">
            </div>
            <div class="slide">
                <img src="images/1.png" alt="Слайд 3">
            </div>
            <div class="slide">
                <img src="images/3.png" alt="Слайд 4">
            </div>
        </div>

        <div class="navigation">
            <input type="radio" id="dot1" name="slide" checked>
            <label for="dot1"></label>
            <input type="radio" id="dot2" name="slide">
            <label for="dot2"></label>
            <input type="radio" id="dot3" name="slide">
            <label for="dot3"></label>
            <input type="radio" id="dot4" name="slide">
            <label for="dot4"></label>
        </div>
    </div>

    <div class="input-container">
        <input class="search-box" type="search" placeholder="Введите запрос...">
    </div>

    <div class = "markets-container">
        <a href="#" class="markets-item3">
            <img src="images/mar.png" alt="">
        </a>
        <a href="#" class="markets-item3">
            <img src="images/mar.png" alt="">
        </a>
        <a href="#" class="markets-item3">
            <img src="images/mar.png" alt="">
        </a>
        <a href="#" class="markets-item3">
            <img src="images/mar.png" alt="">
        </a>

    </div>


    <div class = "footer-container">
        <img class="footer-img" src="images/Rectangle 6.png">

        <a href="/help" class="footer-item1">Помощь</a>
        <a href="/about" class="footer-item1">О нас</a>

    </div>
</div>



</body></title>
</head>
<body>

</body>
</html>