<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fineprice</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lobster&family=Saira+Stencil+One&display=swap" rel="stylesheet">
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
    <link rel="stylesheet" th:href="@{/css/styleProduct.css}">
</head>
<body>
    
    <div class="conteiner-header">
        <header class="header">
            <a href="/promotion" class="header-brand"><span>Акция</span></a>
            
            <a href="/" class="header-menu-item1">
                <img th:src="@{/images/logo.svg}" alt="Логотип">
            </a>
            
            <a href="/cart_page" class="header-menu-cart">
                <img th:src="@{/images/cart.png}" alt="Корзина">
            </a>
            <!-- /.cart -->
        </header>
    </div>
    <!-- /.conteiner -->
    
    <div class="conteiner">
        <div class="text-name">
            <div th:text="${product.name}">
                Name
            </div>
        </div>
    </div>
    <!-- /.conteiner -->
    
    
    <div class="conteiner-main">
        <main class="main">
            <div class="main-photo">
                <div class="slide s1">
                    <img th:src="${product.image_url}" alt="Изображение" class="img">
                </div>
            </div>
            <!-- /.main-photo -->
            
            <div class="second-colum">
                <h1 class="service">Доступные сервисы</h1>

                <div th:each="sc : ${product.priceList}">
                    <div class="grid-grid">
                        <div class="list-service">
                            <img src="../../static/productStatic/js/img/image%202.png" alt="">

                            <span class="service-service" th:text="${sc.name}">shopName</span>

                            <button class="btn1" th:text="${sc.cost}">price</button>
                        </div>
                    </div>
                </div>




                <div class="main-shop">
                    <img src="../../static/productStatic/js/img/image%202.png" alt="">

                    <span class="service-main-service" th:text="${product.bestCost.name}">mainShopName</span>
                </div>
                <!-- /.main-shop -->
                <button class="btn2" th:text="${product.bestCost.cost}">price</button>
                
            </div>
            <!-- /.second-colum -->
        </main>
    </div>
    <!-- /.conteiner -->

    
    <div class="conteiner-footer">
        <footer class="footer">
            <a href="/help" class="footer-help"><span>Помощь</span></a>
            <a href="/about" class="footer-as"><span>О нас</span></a>
        </footer>
    </div>
    <!-- /.conteiner -->
    
    <script src="../../static/productStatic/js/fslightbox.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script src="../../static/productStatic/js/main.js"></script>
</body>
</html>